<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css" type="text/css">
    </head>
    <body>
        <h1>Person: <%= ID %></h1>
        <!-- locals gives you access to params object in render argument -->
        <% if (locals.Qstr !== undefined) {  %>
        <h2>Query string: <%= Qstr %></h2>
        <% } %>
    </body>
</html>